.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1280px;
  min-height: 100vh;
  align-self: center;
  position: relative;
}
.content-wrapper .header-wrapper {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  max-height: calc(100vh - 8rem);
  flex: 1;
}
.content-wrapper .header-wrapper .header-presentation-wrapper {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.62), 1px 0px 0px 0px rgba(0, 0, 0, 0.62), 1px 2px 0px 0px rgba(0, 0, 0, 0.62), 2px 1px 0px 0px rgba(0, 0, 0, 0.62), 2px 3px 0px 0px rgba(0, 0, 0, 0.62), 3px 2px 0px 0px rgba(0, 0, 0, 0.62), 3px 4px 0px 0px rgba(0, 0, 0, 0.62), 4px 3px 0px 0px rgba(0, 0, 0, 0.62), 4px 5px 0px 0px rgba(0, 0, 0, 0.62), 5px 4px 0px 0px rgba(0, 0, 0, 0.62), 5px 6px 0px 0px rgba(0, 0, 0, 0.62), 6px 5px 0px 0px rgba(0, 0, 0, 0.62), 6px 7px 0px 0px rgba(0, 0, 0, 0.62), 7px 6px 0px 0px rgba(0, 0, 0, 0.62), 7px 8px 0px 0px rgba(0, 0, 0, 0.62), 8px 7px 0px 0px rgba(0, 0, 0, 0.62);
  border: thin solid;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .presentation-info .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .presentation-info .logo-wrapper img {
  max-width: 20rem;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  gap: 1rem;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link .navigation-link-content {
  color: #000;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link.active .navigation-link-content, .content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link:hover .navigation-link-content {
  color: #35bbff;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link.active .indicator, .content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link:hover .indicator {
  width: 6rem;
  border-color: #35bbff;
  background-color: #35bbff;
}
.content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper .navigation-menu .navigation-link .indicator {
  width: 4rem;
  border: thin solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  transition: width 0.5s ease;
}
.content-wrapper .header-wrapper .social-links {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.62), 1px 0px 0px 0px rgba(0, 0, 0, 0.62), 1px 2px 0px 0px rgba(0, 0, 0, 0.62), 2px 1px 0px 0px rgba(0, 0, 0, 0.62), 2px 3px 0px 0px rgba(0, 0, 0, 0.62), 3px 2px 0px 0px rgba(0, 0, 0, 0.62), 3px 4px 0px 0px rgba(0, 0, 0, 0.62), 4px 3px 0px 0px rgba(0, 0, 0, 0.62), 4px 5px 0px 0px rgba(0, 0, 0, 0.62), 5px 4px 0px 0px rgba(0, 0, 0, 0.62), 5px 6px 0px 0px rgba(0, 0, 0, 0.62), 6px 5px 0px 0px rgba(0, 0, 0, 0.62), 6px 7px 0px 0px rgba(0, 0, 0, 0.62), 7px 6px 0px 0px rgba(0, 0, 0, 0.62), 7px 8px 0px 0px rgba(0, 0, 0, 0.62), 8px 7px 0px 0px rgba(0, 0, 0, 0.62);
  border: thin solid #000;
}
.content-wrapper .header-wrapper .social-links .social-link {
  display: flex;
  height: 2rem;
  width: 2rem;
}
.content-wrapper .header-wrapper .social-links .social-link .social-icon {
  transition: filter 0.3s ease;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.content-wrapper .header-wrapper .social-links .social-link .social-icon:hover {
  fill: #35bbff;
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(90%);
}
.content-wrapper .main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  padding: 4rem 0;
  gap: 2rem;
  font-family: "PublicSans";
}
.content-wrapper .main-wrapper .main-section {
  padding: 1rem;
  border: thin solid #000;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.62), 1px 0px 0px 0px rgba(0, 0, 0, 0.62), 1px 2px 0px 0px rgba(0, 0, 0, 0.62), 2px 1px 0px 0px rgba(0, 0, 0, 0.62), 2px 3px 0px 0px rgba(0, 0, 0, 0.62), 3px 2px 0px 0px rgba(0, 0, 0, 0.62), 3px 4px 0px 0px rgba(0, 0, 0, 0.62), 4px 3px 0px 0px rgba(0, 0, 0, 0.62), 4px 5px 0px 0px rgba(0, 0, 0, 0.62), 5px 4px 0px 0px rgba(0, 0, 0, 0.62), 5px 6px 0px 0px rgba(0, 0, 0, 0.62), 6px 5px 0px 0px rgba(0, 0, 0, 0.62), 6px 7px 0px 0px rgba(0, 0, 0, 0.62), 7px 6px 0px 0px rgba(0, 0, 0, 0.62), 7px 8px 0px 0px rgba(0, 0, 0, 0.62), 8px 7px 0px 0px rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
}
.content-wrapper .main-wrapper .main-section.projects {
  gap: 2rem;
}
.content-wrapper .main-wrapper .experience-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.content-wrapper .main-wrapper .experience-item .experience-grid-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.5rem;
  align-items: flex-start;
  grid-auto-rows: minmax(auto, auto);
}
.content-wrapper .main-wrapper .experience-item .experience-grid-box .experience-heading {
  margin: 0;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}
.content-wrapper .main-wrapper .experience-item .experience-grid-box .experience-content-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0;
  gap: 1rem;
}
.content-wrapper .main-wrapper .experience-item .experience-grid-box .experience-content-wrapper .description-paragraph {
  margin: 0;
  padding: 0;
}
.content-wrapper .main-wrapper .experience-item .experience-date {
  color: #35bbff;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}

.company-link {
  text-decoration: none;
  color: #333;
  font-size: inherit;
  background-color: rgba(53, 187, 255, 0.3);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  position: relative;
}
.company-link::after {
  content: "";
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  height: 0.75rem;
  width: 0.75rem;
  display: none;
  background-image: url("../assets/icons/link.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.company-link:hover::after {
  display: block;
}

.default-grid-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.5rem;
  align-items: flex-start;
  grid-auto-rows: minmax(auto, auto);
}
.default-grid-box.project-item {
  padding: 0.5rem;
}
.default-grid-box.project-item .image-container {
  box-shadow: 11px 10px 0px -6px #333;
  border: thin solid #333;
}
.default-grid-box.project-item .image-container .project-image {
  max-width: 100%;
}
.default-grid-box.project-item .content-container .project-heading {
  margin: 0;
  padding: 0;
}

.technology-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.technology-list .technology-list-item {
  background-color: rgba(53, 187, 255, 0.3);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    align-items: stretch;
  }
  .content-wrapper .header-wrapper {
    position: unset;
    padding: 0;
    max-height: auto;
    border: thin solid #000;
    align-items: stretch;
  }
  .content-wrapper .header-wrapper .social-links {
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 1rem;
    border: none;
    border-top: thin solid #000;
    box-shadow: none;
    width: unset;
    margin: 0;
  }
  .content-wrapper .header-wrapper .social-links .social-link {
    height: 1.5rem;
    width: 1.5rem;
  }
  .content-wrapper .header-wrapper .social-links .social-link .social-icon {
    height: 100%;
    width: 100%;
  }
  .content-wrapper .header-wrapper .header-presentation-wrapper {
    display: flex;
    flex-direction: column;
    width: unset;
    padding: 1rem;
    box-shadow: none;
    border: none;
  }
  .content-wrapper .header-wrapper .header-presentation-wrapper .presentation-info .logo-wrapper img {
    max-width: 12rem;
  }
  .content-wrapper .header-wrapper .header-presentation-wrapper .navigation-wrapper {
    display: none;
  }
  .content-wrapper .main-wrapper {
    flex: unset;
    margin-top: 0;
  }
  .content-wrapper .main-wrapper .main-section h2 {
    font-size: 1.5rem;
  }
  .content-wrapper .main-wrapper .experience-item {
    padding: 1rem;
    font-size: 1rem;
  }
  .content-wrapper .main-wrapper .experience-item .experience-grid-box {
    grid-template-columns: unset;
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
  }
  .content-wrapper .main-wrapper .experience-item .experience-heading {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .content-wrapper .main-wrapper .experience-item .experience-heading h3 {
    font-size: 1.1rem;
  }
  .content-wrapper .main-wrapper .experience-item .experience-date {
    font-size: 0.85rem;
  }
}

/*# sourceMappingURL=grid.css.map */
