@import "variables";
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1280px;
  min-height: 100vh;
  align-self: center;
  position: relative;
  &.projects {
    flex-direction: column;
    gap: 1.5rem;
    .header-wrapper {
      padding: 0;
      align-items: start;
      justify-content: start;
      position: unset;
      max-height: unset;

    }
    
      .technology-list.table-cell {
        list-style: none;
    display: flex;
    gap: 0.3rem;
    margin: 0;
    padding: 0.5rem;
    flex-wrap: wrap;
    .technology-list-item {
      background-color: rgba($anchor-color, 0.3);
      padding: 0.1rem 0.4rem;
      border-radius: 0.3rem;
      font-size: 0.7rem;
      }
    
  }
}
  .header-wrapper {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-height: calc(100vh - 8rem);
    flex: 1;
    .header-presentation-wrapper {
      width: 100%;
      padding: 1rem;
      box-shadow: $box-shadow-highlight;
      border: thin solid;
      .presentation-info {
        .logo-wrapper {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            max-width: 20rem;
          }
        }
      }
      .navigation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 1rem;
        .navigation-menu {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          .navigation-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-weight: 600;
            text-transform: uppercase;
            gap: 1rem;
            .navigation-link-content {
              color: $dark-color;
            }
            &.active,
            &:hover {
              .navigation-link-content {
                color: $primary-color;
              }
              .indicator {
                width: 6rem;
                border-color: $primary-color;
                background-color: $primary-color;
              }
            }
            .indicator {
              width: 4rem;
              border: thin solid $dark-color;
              background-color: $dark-color;
              display: flex;
              align-items: center;
              transition: width 0.5s ease;
            }
          }
        }
      }
    }
    .social-links {
      display: flex;
      list-style: none;
      padding: 1rem;
      margin: 0;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: $box-shadow-highlight;
      border: thin solid $dark-color;
      .social-link {
        display: flex;
        height: 2rem;
        width: 2rem;
        .social-icon {
          transition: filter 0.3s ease;
          filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
          &:hover {
            fill: $primary-color;
            filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(90%);
          }
        }
      }
    }
  }
  .divider {
    display: flex;
    border-top: thin solid $dark-color;
    width: 100%;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 3;
    font-family: "Inter", sans-serif;
    line-height: 26px;
    padding: 4rem 0;
    gap: 2rem;
    font-family: "PublicSans";

    .main-section {
      padding: 1rem;
      border: thin solid $dark-color;
      box-shadow: $box-shadow-highlight;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .experience-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
      font-size: 1.2rem;
      .experience-grid-box {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1.5rem;
        align-items: flex-start;
        grid-auto-rows: minmax(auto, auto);
        .experience-heading {
          margin: 0;
          font-size: 1rem;
          color: $secondary-dark-color;
          text-decoration: none;
        }
        .experience-content-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          margin: 0;
          gap: 1rem;
          .description-paragraph {
            margin: 0;
            padding: 0;
          }
        }
      }

      .experience-date {
        color: $primary-color;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
.external-link {
  text-decoration: dotted;
  color: $secondary-dark-color;
  font-size: inherit;
  padding: 0.1rem 0.3rem;
  position: relative;
  border: thin solid $dark-color;
  transition: box-shadow 0.3s ease;
  box-shadow: 1px 1px 0 0 transparent;
  margin-right: 0.1rem;
  &:hover,
  &:focus {
    box-shadow: 1px 1px 0 0 $dark-color;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url("../assets/icons/external_link.svg");
  }
  &.additional-data {
    align-self: flex-start;
    font-weight: 600;
    border-width: medium;
    &:hover,
    &:focus {
      box-shadow: 2px 2px 0 0 $dark-color;
    }
  }
}

.default-grid-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.5rem;
  align-items: flex-start;
  grid-auto-rows: minmax(auto, auto);

  &.project-item {
    padding: 1rem;
    &:hover {
      .image-container {
        box-shadow: 11px 10px 0px -6px $secondary-dark-color;
      }
    }
    .image-container {
      transition: box-shadow 0.3s ease;
      box-shadow: 1px 1px 0px -6px $secondary-dark-color;
      border: thin solid $secondary-dark-color;

      .project-image {
        max-width: 100%;
      }
    }
    .content-container {
      padding: 0 1rem;
      .project-heading {
        margin: 0;
        padding: 0;
      }
    }
  }
}
.technology-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  .technology-list-item {
    background-color: $anchor-color;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
  }
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    align-items: stretch;
    .header-wrapper {
      position: unset;
      padding: 0;
      max-height: auto;
      border: thin solid $dark-color;
      align-items: stretch;
      .social-links {
        justify-content: space-evenly;
        gap: 0.5rem;
        padding: 1rem;
        border: none;
        border-top: thin solid $dark-color;
        box-shadow: none;
        width: unset;
        margin: 0;

        .social-link {
          height: 1.5rem;
          width: 1.5rem;

          .social-icon {
            height: 100%;
            width: 100%;
          }
        }
      }
      .header-presentation-wrapper {
        display: flex;
        flex-direction: column;
        width: unset;
        padding: 1rem;
        box-shadow: none;
        border: none;

        .presentation-info {
          .logo-wrapper {
            img {
              max-width: 12rem;
            }
          }
        }

        .navigation-wrapper {
          display: none;
        }
      }
    }
  }
  .content-wrapper {
    .main-wrapper {
      flex: unset;
      margin-top: 0;

      .main-section {
        h2 {
          font-size: 1.5rem; // Adjust heading size for mobile
        }
      }
      .experience-item {
        padding: 1rem;
        font-size: 1rem;
        .experience-grid-box {
          grid-template-columns: unset;
          display: flex;
          align-items: start;
          flex-direction: column-reverse;
        }
        .experience-heading {
          flex-direction: column-reverse;

          align-items: flex-start;

          h3 {
            font-size: 1.1rem;
          }
        }

        .experience-date {
          font-size: 0.85rem;
        }
      }
    }
  }
}
