table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  box-shadow: $box-shadow-highlight;
}

table th,
table td {
  border: thin solid $secondary-dark-color;
  padding: 1rem;
  text-align: left;
}

table th {
  background-color: $secondary-dark-color;
  color: $secondary-bright-color;
  border-color: $secondary-bright-color;
}

table tr:nth-child(even) {
  background-color: $secondary-bright-color;
}

table td a:hover {
  text-decoration: underline;
}

.details-cell {
  min-width: 0;
  max-width: 50vw;
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    box-shadow: none;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: thin solid $secondary-dark-color;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 0 0 $secondary-dark-color;
  }

  td {
    border: none;
    border-bottom: thin solid $secondary-dark-color;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    width: 45%;
    padding-right: 0.8rem;
    white-space: nowrap;
    font-weight: 600;
  }

  td:nth-of-type(1):before {
    content: "Rok:";
  }
  td:nth-of-type(2):before {
    content: "Nazwa Projektu:";
  }
  td:nth-of-type(3):before {
    content: "Opis:";
  }
  td:nth-of-type(4):before {
    content: "Technologie:";
  }
  .main-wrapper {
    .project-details {
      max-width: unset;
    }
  }
}
