table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid $secondary-dark-color;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: $secondary-dark-color;
  color: $secondary-bright-color;
  border-color: $secondary-bright-color;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}

table td a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #333;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #333;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Year";
  }
  td:nth-of-type(2):before {
    content: "Project";
  }
  td:nth-of-type(3):before {
    content: "Made at";
  }
  td:nth-of-type(4):before {
    content: "Built with";
  }
  td:nth-of-type(5):before {
    content: "Link";
  }
}
